BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: Align
ColumnLimit: 0
TabWidth: 4
UseTab: Always

BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBraces: Custom

DerivePointerAlignment: false
PointerAlignment: Left
